.education {
  min-height: calc(100vh - 624px); /* full page minus header + footer */
  background-color: #f9f9f9;
  padding: 40px 20px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.education__container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.education__dropdown select {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 30px;
}
