.confirm-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.confirm-modal__content {
  width: 670px;
  max-width: 90%;
  height: 280px;
  background: #fff;
  border-radius: 16px;
  padding: 32px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; /* center content vertically */
  align-items: center; /* center content horizontally */
  font-family: "Cabinet Grotesk", sans-serif;
  text-align: center; /* center text */
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.confirm-modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.confirm-modal__close-icon {
  width: 20px;
  height: 20px;
}

.confirm-modal__text {
  margin-bottom: 24px;
}

.confirm-modal__title {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 8px 0;
}

.confirm-modal__subtitle {
  color: #000;
  margin: 0;
}

.confirm-modal__buttons {
  display: flex;
  flex-direction: column; /* stack buttons vertically */
  gap: 12px;
  width: 100%; /* optional: make buttons full width */
  max-width: 200px;
  align-items: center; /* center buttons horizontally */
}

.confirm-modal__delete-btn {
  background: none;
  color: #ff4d00;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;

  cursor: pointer;
}

.confirm-modal__cancel-btn {
  background: none;
  color: #000;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}
