.confirm-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.confirm-modal__content {
  width: 670px;
  max-width: 90%;
  height: 280px;
  background: #fff;
  border-radius: 16px;
  padding: 32px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Cabinet Grotesk", sans-serif;
  text-align: center;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.confirm-modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.confirm-modal__close-icon {
  width: 20px;
  height: 20px;
}

.confirm-modal__text {
  margin-bottom: 24px;
}

.confirm-modal__title {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 8px 0;
}

.confirm-modal__subtitle {
  color: #000;
  margin: 0;
}

.confirm-modal__buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 200px;
  align-items: center;
}

.confirm-modal__delete-btn {
  background: none;
  color: #ff4d00;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;

  cursor: pointer;
}

.confirm-modal__cancel-btn {
  background: none;
  color: #000;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .confirm-modal__content {
    width: 550px;
    height: 260px;
    padding: 28px;
    font-size: 18px;
    line-height: 22px;
  }

  .confirm-modal__title {
    font-size: 18px;
  }

  .confirm-modal__buttons {
    max-width: 180px;
    gap: 10px;
  }

  .confirm-modal__delete-btn,
  .confirm-modal__cancel-btn {
    padding: 6px 14px;
    font-size: 16px;
  }
}

/* -------------------- Mobile Specific -------------------- */
@media (max-width: 768px) {
  .confirm-modal__content {
    width: 400px;
    height: 240px;
    padding: 24px;
    font-size: 16px;
    line-height: 20px;
  }

  .confirm-modal__title {
    font-size: 16px;
  }

  .confirm-modal__buttons {
    max-width: 160px;
    gap: 8px;
  }

  .confirm-modal__delete-btn,
  .confirm-modal__cancel-btn {
    padding: 6px 12px;
    font-size: 14px;
  }
}
